<?xml version="1.0" encoding="gbk"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillSelect</servlet-name>
    <servlet-class>servlet.BillSelect</servlet-class>
  </servlet>
<servlet>
    <servlet-name>BillOperate</servlet-name>
    <servlet-class>demo.BillOperate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupplierOperate</servlet-name>
    <servlet-class>demo.SupplierOperate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupplierSelect</servlet-name>
    <servlet-class>servlet.SupplierSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userAdd</servlet-name>
    <servlet-class>servlet.userAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>billAdd</servlet-name>
    <servlet-class>servlet.billAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>providerAdd</servlet-name>
    <servlet-class>servlet.providerAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillFind</servlet-name>
    <servlet-class>servlet.BillFind</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SupplierFind</servlet-name>
    <servlet-class>servlet.SupplierFind</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserFind</servlet-name>
    <servlet-class>servlet.UserFind</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>servlet.UserUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>servlet.UserDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XiugaiUser</servlet-name>
    <servlet-class>servlet.XiugaiUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupplierUpdate</servlet-name>
    <servlet-class>servlet.SupplierUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupplierDelete</servlet-name>
    <servlet-class>servlet.SupplierDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillUpdate</servlet-name>
    <servlet-class>servlet.BillUpdate</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>BillDelete</servlet-name>
    <servlet-class>servlet.BillDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XiugaiBill</servlet-name>
    <servlet-class>servlet.XiugaiBill</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XiugaiSupplier</servlet-name>
    <servlet-class>servlet.XiugaiSupplier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XiugaiPassword</servlet-name>
    <servlet-class>servlet.XiugaiPassword</servlet-class>
  </servlet>



    <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillSelect</servlet-name>
    <url-pattern>/BillSelect</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BillOperate</servlet-name>
    <url-pattern>/BillOperate</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>SupplierOperate</servlet-name>
    <url-pattern>/SupplierOperate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierSelect</servlet-name>
    <url-pattern>/SupplierSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userAdd</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>billAdd</servlet-name>
    <url-pattern>/billAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>providerAdd</servlet-name>
    <url-pattern>/providerAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillFind</servlet-name>
    <url-pattern>/BillFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierFind</servlet-name>
    <url-pattern>/SupplierFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFind</servlet-name>
    <url-pattern>/UserFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaiUser</servlet-name>
    <url-pattern>/XiugaiUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierUpdate</servlet-name>
    <url-pattern>/SupplierUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupplierDelete</servlet-name>
    <url-pattern>/SupplierDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillUpdate</servlet-name>
    <url-pattern>/BillUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillDelete</servlet-name>
    <url-pattern>/BillDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaiBill</servlet-name>
    <url-pattern>/XiugaiBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaiSupplier</servlet-name>
    <url-pattern>/XiugaiSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XiugaiPassword</servlet-name>
    <url-pattern>/XiugaiPassword</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
